{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/readers/book-order.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="panel panel-library">
        <div class="panel-heading">
            <div class="row">
                <span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;&nbsp; KNYGA</br>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" style="margin:5px;">
                <div class="col-sm-2">
                    ISBN
                </div>
                <div class="col-sm-3">
                    Pavadinimas
                </div>
                <div class="col-sm-1">
                    Metai
                </div>
                <div class="col-sm-2">
                    Autorius
                </div>
                <div class="col-sm-2">
                    Žanras
                </div>
                <div class="col-sm-1">
                    Kalba
                </div>
            </div>
            <div class="book-list-element">
                <div class="row" style="margin:5px;">
                    <div class="col-sm-2">
                        {{ book.isbnCode }}
                    </div>
                    <div class="col-sm-3">
                        {{ book.title }}
                    </div>
                    <div class="col-sm-1">
                        {{ book.year|date("Y") }}
                    </div>
                    <div class="col-sm-2">
                        {{ book.fkAuthor.name }} {{ book.fkAuthor.lastName }}
                    </div>
                    <div class="col-sm-2">
                        {{ book.fkGenre.genre }}
                    </div>
                    <div class="col-sm-2">
                        {{ book.fkLanguage.language }}
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}
