{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/readers/book-order.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="panel panel-library">
        <div class="panel-heading">
            <div class="row">
                <span class="glyphicon glyphicon-euro"></span>&nbsp;&nbsp;&nbsp; SKOLA</br>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" style="margin:5px;">
                <div class="col-sm-2">
                    Užsakymas
                </div>
                <div class="col-sm-2">
                    Skaitytojas
                </div>
                <div class="col-sm-1">
                    Skola
                </div>
                <div class="col-sm-3">
                    Aprašymas
                </div>
                <div class="col-sm-2">
                    Mokėjimo data
                </div>
                <div class="col-sm-2">
                    Būsena
                </div>
            </div>
            <div class="book-list-element">
                <div class="col-sm-2">
                    {{ debt.fkOrder.id }}
                </div>
                <div class="col-sm-2">
                    {{ debt.fkOrder.fkReader.name }} {{ debt.fkOrder.fkReader.lastName }}
                </div>
                <div class="col-sm-1">
                    {{ debt.amount }} &euro;
                </div>
                <div class="col-sm-3">
                    {{ debt.description }}
                </div>
                <div class="col-sm-2">
                    {% if debt.status == "neapmokėta" %}
                        -
                    {% else %}
                        {{ debt.paymentDate|date('Y-m-d') }}
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    {{ debt.status }}
                </div>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}
