{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/employees/orders-list.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/employees/orders-list.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success text-center">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger text-center">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="panel panel-library">
        <div class="panel-heading">
            <div class="row">
                <span class="glyphicon glyphicon-user"></span> UŽSAKYMAI
            </div>
        </div>
        <div class="panel-body">
            <br>
            <form action="{{ path('orders_employee-orders-list') }}" name="orders_filter-orders" method="post">
                     <div class="search-string-label col-sm-6">
                        <label for="search-string">Paieška pagal knygą/skaitytoją</label>
                    </div>
                    <div class="search-string-input col-sm-3">
                        <input type="text" name="search-string" />
                    </div>
                <input type="submit" style="visibility: hidden;" />
            </form>
            <br><br>
            <div class="row" style="margin:5px;">
                <div class="col-sm-1">
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'o.id') }}</th>
                </div>
                <div class="col-sm-2">
                    <th>{{ knp_pagination_sortable(pagination, 'Skaitytojas', 'r.lastName') }}</th>
                </div>
                <div class="col-sm-2">
                    <th>{{ knp_pagination_sortable(pagination, 'Knyga', 'b.title') }}</th>
                </div>
                <div class="col-sm-2">
                    <th>{{ knp_pagination_sortable(pagination, 'Paėmimo data', 'o.takeDate') }}</th>
                </div>
                <div class="col-sm-1">
                    <th>{{ knp_pagination_sortable(pagination, 'Išduota iki', 'o.agreedReturnDate') }}</th>
                </div>
                <div class="col-sm-1">
                    <th>{{ knp_pagination_sortable(pagination, 'Kada grąžinta', 'o.actualReturnDate') }}</th>
                </div>
                <div class="col-sm-1">
                    <th>{{ knp_pagination_sortable(pagination, 'Būsena', 'o.status') }}</th>
                </div>
                <div class="col-sm-2">
                    Veiksmai
                </div>
            </div>
            {% for order in pagination %}
                <div class="order-list-element">
                    <div class="row">
                        <div class="col-sm-1">
                            {{ order.id }}
                        </div>
                        <div class="col-sm-2">
                            {{ order.fkReader.lastName }} {{ order.fkReader.name }}
                        </div>
                        <div class="col-sm-2">
                            {{ order.fkBook.title }}
                        </div>
                        <div class="col-sm-2">
                            {{ order.takeDate|date('Y-m-d') }}
                        </div>
                        <div class="col-sm-1">
                            {{ order.agreedReturnDate|date('Y-m-d') }}
                        </div>
                        <div class="col-sm-1">
                            {% if order.actualReturnDate != null %}
                                {{ order.actualReturnDate|date('Y-m-d') }}
                            {% else %}
                                negrąžinta
                            {% endif %}
                        </div>
                        <div class="col-sm-1">
                            {{ order.status }}
                        </div>
                        <div class="col-sm-2">
                            {% if order.status == constant('AppBundle\\Entity\\Orders::WAITING') %}
                                <form class="accept-order-form" action="{{ path('orders_employee-process-order') }}" name="orders_process-order" method="post">
                                    <input type="hidden" name="status" value="{{ constant('AppBundle\\Entity\\Orders::BORROWED') }}">
                                    <input type="hidden" name="id" value="{{ order.id }}">
                                    <input type="hidden" name="book" value="{{ order.fkBook.id }}">
                                    <button type="submit" class="btn btn-default btn-xs order-form-button"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                                </form>
                                <form class="reject-order-form" action="{{ path('orders_employee-process-order') }}" name="orders_process-order" method="post">
                                    <input type="hidden" name="status" value="{{ constant('AppBundle\\Entity\\Orders::REJECTED') }}">
                                    <input type="hidden" name="id" value="{{ order.id }}">
                                    <input type="hidden" name="book" value="{{ order.fkBook.id }}">
                                    <button type="submit" class="btn btn-default btn-xs order-form-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                </form>
                            {% elseif order.status == constant('AppBundle\\Entity\\Orders::BORROWED') %}
                                <form class="accept-return-form" action="{{ path('orders_employee-process-return') }}" name="orders_process-order" method="post">
                                    <input type="hidden" name="_return" value="confirm">
                                    <button type="submit" class="btn btn-default btn-xs order-form-button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                </form>
                            {% elseif order.status == constant('AppBundle\\Entity\\Orders::DEBT') %}
                                {% set difference = date(order.actualReturnDate).diff(date(order.agreedReturnDate)) %}
                                {% set days = difference.days %}
                                skola {{ order.deptRatePerDay * days }} &euro;
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="panel-footer">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

