{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/employees/orders-list.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/reports/report.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success text-center">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger text-center">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="panel panel-library">
        <div class="panel-heading">
            <div class="row">
                <span class="glyphicon glyphicon-file"></span> UŽSAKYMŲ ATASKAITA
            </div>
        </div>
        <div class="panel-body">
            <div class="report-date">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <form action="{{ path('orders_employee-orders-report') }}" method="POST">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Datos intervalas:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" name="beginDate" id="beginDate">
                                </div>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" name="endDate" id="endDate">
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Skaitytojas:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="reader" id="reader" placeholder="asmens kodas">
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-sm-offset-4 col-sm-4">
                                    <input type="submit" name="submit" value="Generuoti ataskaitą" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            {% if bd is defined and ed is defined and rd is defined %}
                <div class="row" style="margin-top:30px;">
                    <div class="text-center">
                        <b>Datos intervalas: {{ bd }} - {{ ed }}</b><br>
                        <b>Asmens kodas: {{ rd }}</b>
                    </div>
                </div>
            {% endif %}
            {% if orders is defined %}
                <div class="row" style="margin-top:10px;">
                    <h3 class="text-center">Užsakymų skaičius: {{ orders|length }}</h3>
                </div>
                <hr>
                <div class="row" style="margin:20px;">
                    <div class="col-sm-1">
                        ID
                    </div>
                    <div class="col-sm-2">
                        Skaitytojas
                    </div>
                    <div class="col-sm-2">
                        Knygos pavadinimas
                    </div>
                    <div class="col-sm-2">
                        Užsakymo data
                    </div>
                    <div class="col-sm-2">
                        Išduota iki
                    </div>
                    <div class="col-sm-2">
                        Kada grąžinta
                    </div>
                    <div class="col-sm-1">
                        Būsena
                    </div>
                </div>
                {% for order in orders %}
                <div class="order-list-element">
                    <div class="row">
                        <div class="col-sm-1">
                            <a href="{{ path('orders_employee-get-order', {'id': order.id}) }}">{{ order.id }}</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{ path('orders_employee-get-reader', {'id': order.fkReader.personalId}) }}">
                                {{ order.fkReader.lastName }} {{ order.fkReader.name }}
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{ path('orders_employee-get-book', {'id': order.fkBook.id}) }}">{{ order.fkBook.title }}</a>
                        </div>
                        <div class="col-sm-2">
                            {{ order.takeDate|date('Y-m-d') }}
                        </div>
                        <div class="col-sm-2">
                            {{ order.agreedReturnDate|date('Y-m-d') }}
                        </div>
                        <div class="col-sm-2">
                            {% if order.actualReturnDate != null %}
                                {{ order.actualReturnDate|date('Y-m-d') }}
                            {% else %}
                                negrąžinta
                            {% endif %}
                        </div>
                        <div class="col-sm-1">
                            {{ order.status }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="panel-footer">
        </div>
    </div>
{% endblock %}
