<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bibliotekų Informacinė Sistema</title>

    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/css/loader.css'
        '@AppBundle/Resources/public/css/bootstrap.min.css'
        '@AppBundle/Resources/public/css/style.css'
        '@AppBundle/Resources/public/css/jquery-confirm.css'
        '@AppBundle/Resources/public/css/datepicker.css'
        '@AppBundle/Resources/public/css/search-filter.css'
        %}

        <link rel="stylesheet" href="{{ asset_url }}"  />

        {%  endstylesheets %}
    {% endblock %}


</head>

<body>

<div class="loader"></div>


{% include 'navbar.html.twig' %}


<!-- Page Content -->
<div class="container body-container">

    <div class="row">

        <div class="col-md-3">

            {% if is_granted('ROLE_READERS_ADMIN') %}
                <p class="lead">Skaitytojų administratorius</p>
            {% elseif is_granted('ROLE_READER') %}
                <p class="lead">Skaitytojas</p>
            {% elseif is_granted('ROLE_EMPLOYEE') %}
                <p class="lead">Darbuotojas</p>
            {% elseif is_granted('ROLE_BOOK_ADMIN') %}
                <p class="lead">Knygų administratorius</p>
            {% endif %}

            {% if is_granted('ROLE_READER') %}
                {%  if penalty.is_active %}
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-hand-right"></span>
                        <strong>Turite nuobaudą!</strong> Negalėsite pasiimti naujos knygos. <br>
                        <hr>
                        <strong>Data:</strong> {{ penalty.info.getPenaltyBeginDate()|date("Y-m-d H:m") }} - {{ penalty.info.getPenaltyEndDate()|date("Y-m-d") }}
                        <strong>Komentaras:</strong> {{ penalty.info.comment }}
                        <hr>
                        {{ penalty.info.fkReadersAdmin.name }} {{ penalty.info.fkReadersAdmin.lastName }}
                    </div>
                {% endif %}
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                   <span class="glyphicon glyphicon-search right-gap"></span> Paieška
                </div>
                <form method="POST">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Knygos pavadinimas">
                    </div>
                    <input type="submit" class="btn btn-sm btn-success" value="Ieškoti">
                </div>

                    <div class="filter-section">
                        <div class="filter-section-title">
                            Kalbos
                        </div>
                        <div class="filter-visible">
                            {% for key, language in searchFilters.getLanguages() %}
                                {% if key <= 3 %}
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="languages[]" value="{{ language.id }}">{{ language.language }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="filter-invisible" style="display: none;">
                            {% for key, language in searchFilters.getLanguages() %}
                                {% if key > 3 %}
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="languages[]" value="{{ language.id }}">{{ language.language }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="btn btn-xs btn-default show-filters" onclick="return false;"><span class="glyphicon glyphicon-arrow-down"></span> Daugiau...</button>
                    </div>
                    <div class="filter-section">
                        <div class="filter-section-title">
                            Žanrai
                        </div>
                        <div class="filter-visible">
                            {% for key, genre in searchFilters.getGenres() %}
                                {% if key <= 3 %}
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="genres[]" value="{{ genre.id }}">{{ genre.genre }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="filter-invisible" style="display: none;">
                            {% for key, genre in searchFilters.getGenres() %}
                                {% if key > 3 %}
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="genres[]" value="{{ genre.id }}">{{ genre.genre }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="btn btn-xs btn-default show-filters" onclick="return false;"><span class="glyphicon glyphicon-arrow-down"></span> Daugiau...</button>
                    </div>
                    <div class="filter-section">
                        <div class="filter-section-title">
                            Autoriai
                        </div>
                        <div class="filter-visible">
                            {% for key, author in searchFilters.getAuthors() %}
                                {% if key <= 3 %}
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="authors[]" value="{{ author.id }}">{{ author.name }} {{ author.lastName }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="filter-invisible" style="display: none;">
                            {% for key, author in searchFilters.getAuthors() %}
                                {% if key > 3 %}
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="authors[]" value="{{ author.id }}">{{ author.name }} {{ author.lastName }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="btn btn-xs btn-default show-filters" onclick="return false;"><span class="glyphicon glyphicon-arrow-down"></span> Daugiau...</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-9">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success text-center">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashBag.has('error') %}
                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-warning text-center">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container footer-container">

    <hr>
    {% include 'footer.html.twig' %}
    <!-- Footer -->


</div>
<!-- /.container -->


{% block javascripts %}
  {% javascripts
    '@AppBundle/Resources/public/js/jquery.min.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/jquery-confirm.js'
    '@AppBundle/Resources/public/js/datepicker.js'
    '@AppBundle/Resources/public/js/search-filter.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>

</html>
